Repository litondev/pseudo-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, test-client, build-api, build-client

Path conditions:
  test-api: any of: api/**/*, .gitlab-ci.yml
  test-client: any of: client/**/*, .gitlab-ci.yml
  build-api: any of: api/**/*, .gitlab-ci.yml
  build-client: any of: client/**/*, .gitlab-ci.yml

done
  PSEUDO.md
  api/internal/handlers/auth/auth_handler.go
  client/lib/providers/auth_provider.dart
  client/lib/services/auth/auth_service.dart
  client/lib/services/storage_service.dart
Due: test-api, test-client, build-api, build-client

done
  PSEUDO.md
  client/lib/main.dart
  client/lib/providers/theme_provider.dart
  client/lib/screens/dashboard/dashboard_screen.dart
  client/lib/screens/dashboard/widgets/dashboard_app_bar.dart
Due: test-client, build-client

Create AI AGENT.md
  AI AGENT.md
Due: none

Update AI AGENT.md
  AI AGENT.md
Due: none

Update AI.md
  AI.md
Due: none
